.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.logo {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.logo span {
  color: #34c924;
}

.logo:hover {
  text-decoration: underline;
}

.etablissement-detail {
  max-width: 1200px;
  margin: 20px auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.etablissement-banner img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.etablissement-info {
  padding: 20px;
  text-align: center;
}

.etablissement-info h1 {
  font-size: 28px;
  margin: 10px 0;
  color: #333;
}

.etablissement-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.options {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.options {
  display: inline-flex;
  border-radius: 20px;
  background-color: #f0f0f0;
  padding: 5px;
  gap: 5px;
}

.option {
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
  color: #666;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.option.active {
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.option:not(.active):hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: not-allowed;
}

.address-section,
.hours-section {
  margin-bottom: 20px;
  text-align: left;
  padding: 0 20px;
}

.address-section p,
.hours-section p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

.etablissement-card {
  border: 2px solid #fff;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
  height: 17rem;
  width: 250px;
}

.etablissement-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.etablissement-image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.etablissement-details {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.etablissement-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btn-panier {
  font-size: 14px;
  font-weight: 600;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  border: none;
}

.btn-panier:hover {
  background: rgb(40, 40, 40);
  color: rgb(255, 255, 255);
}
